# instruct git to ignore these files:
*~
*.el
doc/*.html
doc/chap*.txt
doc/manual.*
doc/*.tex
doc/*.xml
doc/*.css
doc/*.js
doc/QDistRnd.aux
doc/QDistRnd.bbl
doc/QDistRnd.blg
doc/QDistRnd.brf
doc/QDistRnd.idx
doc/QDistRnd.ilg
doc/QDistRnd.ind
doc/QDistRnd.log
doc/QDistRnd.out
doc/QDistRnd.pnr
doc/QDistRnd.toc
doc/QDistRnd.tex
auto/*
tst/*.tst
